__pycache__/
*.pyc
*.pyo

# Kullanıcıya özel yapılandırma dosyaları (Asla yüklenmeyecek)
config.json
user_settings.json
template_0.png

# Hata ayıklama çıktıları
debug_*.png

# Python sanal ortam (Eğer kullanan olursa diye)
venv/
env/
.env

# MacOS / Windows sistem dosyaları
.DS_Store
Thumbs.db
